{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "res|next|^err"
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "no-shadow": [
      "error",
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "err", "error"]
      }
    ],
    "no-underscore-dangle": "off",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react/no-danger": "off",
    "react/no-array-index-key": "off",
    "react/react-in-jsx-scope": "off",
    "react/forbid-prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/prefer-interface": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": [
          2,
          {
            "args": "none"
          }
        ]
      }
    }
  ]
}
